* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    min-height: 100vh;
    background: url(../image/section-bg-1.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .navbar ul {
    list-style: none;
    margin-right: 30px;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #333;
    display: block;
}

header .navbar ul li a:hover {
    background-color: #333;
    color: #fff;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: #fff;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li ul {
    width: 200px;
    top: 0;
}

header .navbar ul li:hover>ul {
    display: block;
}

#menu-bar {
    display: none;
}

label .btn,
label .cancel {
    cursor: pointer;
    display: none;
}

@media only screen and (max-width:1118px) {
    header {
        padding: 20px;
    }
    header .btn {
        display: block;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: none;
    }
    header .navbar ul li {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }
    header .navbar ul li ul {
        width: 100%;
        position: relative;
    }
    header .navbar ul li ul li {
        background-color: #eee;
    }
    #menu-bar:checked~.navbar {
        display: block;
    }
    #menu-bar:checked~label .btn {
        display: none;
    }
    #menu-bar:checked~label .cancel {
        display: block;
    }
}