.wrap {
    max-width: 800px;
    margin: 0 auto;
    border: 5px solid #00c5ad;
    border-radius: 10px;
}

ul#tabs-nav {
    background-color: #00c5ad;
    color: #333333;
    font-weight: bold;
    margin: 0;
    text-align: center;
    padding: 10px;
}

ul#tabs-nav li {
    list-style: none;
    background-color: #00c5ad;
    display: inline-block;
}

ul#tabs-nav li a.acitve {
    color: #00c5ad;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 400;
    background-color: white;
    border-radius: 3px;
    border: none;
    display: block;
}

ul#tabs-nav li a {
    border: 1px solid #00c5ad;
    background: #00c5ad;
    color: white;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 400;
    border-radius: 3px;
}

.responsiveTab {
    background: #00c5ad;
    color: white;
    border-radius: 10px;
    border: 1px solid #00c5ad;
}

.tabs-content {
    padding: 40px 22px;
}

.tabs-content {
    color: rgb(51, 51, 51);
    font-size: 17px;
    display: none;
    text-align: center;
}

#tabs1 {
    display: block;
}