body {
    margin: 0;
    padding: 0;
    background-color: black;
}

section {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

.text__body {
    font-size: 24px;
    color: white;
}